@keyframes slide-in-left {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .animate-slide-in-left {
    animation: slide-in-left 1.5s ease-in-out forwards;
  }
  
  @keyframes slide-in-right {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .animate-slide-in-right {
    animation: slide-in-right 1.5s ease-in-out forwards;
  }
  

  @keyframes slide-in-down {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .animate-slide-in-down {
    animation: slide-in-down 1.5s ease-in-out forwards;
  }
  
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }