.footer {
  min-height: 10vh;
  display: flex;
  justify-content: center;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 20px;
}

.body {
  min-height: 80vh;
}

.header {
  min-height: 10vh;
}

@media screen and (max-width: 350px)  {
    .footer-links {
        display: flex;
      flex-direction: column;
    }
  
    .links {
      padding: 10px;
      font-size: 12px;
    }
  }
  